extends layout

block content
  .page 
    nav 
      span logo
    main
      h1= title
      p Welcome to #{title}
        #promo
        .promo-title These toys are full of fun! 
        .promo-title Are you ready? Let's begin!  
        .answer.answer Discover the toys
