body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* { 
  box-sizing: border-box;
  position: relative;
}
  /*
  body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

a {
  color: #00B7FF;
}

.answer {
  /* font-weight: bold; */
  /* display: block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 200px;
  height: 40px;
  line-height: 32px;
  margin: 20px;
  text-align: center;
}

  /* .answer-yes {
    color: green;
  }
  
   /* .answer-no {
    font-weight: normal;
  }
  
